/* CSS declarations go here */

body {
  padding-top: 40px;
}

ul { list-style: none; }

#record-btn {
  height: 16px;
  width: 16px;
  border: 1px solid black;
  color: red;
  background-color: red;
}

.mic-content {
  float: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.record-started {
  border-radius: 50%;
}

#recordingslist audio { display: block; margin-bottom: 10px; }