/* CSS declarations go here */

#record-btn {
}

.record-start {
  height: 16px;
  width: 16px;
  border: 1px solid;
  border-radius: 50%;
  color: red;
  background-color: red;
}

.record-end {
  height: 16px;
  width: 16px;
  border: 1px solid;
  color: red;
  background-color: red;
}