/* CSS declarations go here */

body {
  padding-top: 40px;
}

ul { list-style: none; }

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

canvas { display: inline-block; background: #202020; box-shadow: 0px 0px 10px black; }

td {
  text-align: center;
}

.custom-modal {
  top: 20px;
  width: 800px;
}

.center {
  text-align: center;
}

#recordingslist audio { display: block; }

#stop-btn {
  height: 64px;
  width:  64px;
  border: 1px solid black;
  color: red;
  background-color: red;
  margin-left: 31px;
}

.record-content { 
  background: url(mic.png) top left no-repeat;
  width: 128px;
  height: 217px;
}

.hear-content { 
  background: url(ear.png) top left no-repeat;
  width: 128px;
  height: 217px;
}

.record-started {
  border-radius: 50%;
}

.navi {
  text-align: center;
}