/* CSS declarations go here */

body {
  padding-top: 40px;
  background: url(eshop.jpg) top left no-repeat;
}

ul { list-style: none; }

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

canvas { display: inline-block; background: #202020; box-shadow: 0px 0px 10px black; }

#header-analytics {
  color: white;
  font-family: "Comic Sans MS";
  margin: 20px;
}

.custom-modal {
  top: 20px;
  width: 800px;
}

#recordingslist audio { display: block; }

#file-list {
  background: white;
}

#plugin {
  position: fixed;
  top: 20em;
  right: 1em;
}

#stop-btn {
  margin-left: 136px;
}

.record-content { 
  background: url(mic.png) top left no-repeat;
  width: 128px;
  height: 128px;
  background-color: red;
}

.hear-content { 
  background: url(ear.png) top left no-repeat;
  width: 128px;
  height: 217px;
}

.custom-modal {
  width: 800px;
}

.center {
  text-align: center;
}

.record-started {
  border-radius: 50%;
}

.navi {
  text-align: center;
}