/* CSS declarations go here */

body {
  padding-top: 40px;
}

ul { list-style: none; }

#menu {
  margin: 20px;
}

#recordingslist audio { display: block; margin-bottom: 10px; }

#record-btn {
  height: 32px;
  width:  32px;
  border: 1px solid black;
  color: red;
  background-color: red;
}

.record-content { 
  background: url(mic.png) top left no-repeat;
  height: 128px;
}
.hear-content { 
  background: url(ear.png) top left no-repeat;
  height: 128px;
}

.record-started {
  border-radius: 50%;
}